---
meta:
author: Author Name
description: Some meta description
keywords: Some, Meta, Keywords
robots: index, follow
title: About
---
{{#extend "default"}}
{{#content "main"}}
<div class="page">
  <h1 class="page-title">{{ title }}</h1>
  <p class="message">
    About page Content
  </p>
</div>
{{/content}}
{{/extend}}